In [1]:
#load in commonly used packages
import pandas as pd
import numpy as np
import requests
import json
import requests
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 500)
from bs4 import BeautifulSoup

In [2]:
#get list of team names in URL
big12 = ['baylor','iowa-state','kansas','kansas-state','oklahoma','oklahoma-state','texas-christian','texas','texas-tech','west-virginia']

In [3]:
#create empty df with columns named for team, opponents, total, and pct
total = pd.DataFrame(columns=['team','baylor','iowa-state','kansas','kansas-state',
                              'oklahoma','oklahoma-state','texas-christian','texas',
                              'texas-tech','west-virginia', 'total','pct']) 
#set index count as -1
count = -1

#cycle through each team, grabbing their record against each opponent, total record, and win pct
for team_a in big12:
    records = [team_a]
    count = count + 1
    wins = 0
    losses = 0
    
    #cycle through all opponents
    for team_b in big12:
        if team_a != team_b:
            
            #this chunk is finding the right thing to scrape to get head to head record since the 12-13 season
            url = 'https://www.sports-reference.com/cbb/play-index/matchup_finder.cgi?request=1&year_min=2013&year_max=2020&comp_school=le&rank_school=ANY&comp_opp=le&rank_opp=ANY&school_id='+team_a+'&opp_id='+team_b+'&game_type=A&order_by=date_game'
            page = requests.get(url)
            soup = BeautifulSoup(page.content, 'html.parser')
            results = soup.find(id='pi')
            html = list(results.children)[11]
            html2 = list(html.children)[1]
            text = html2.get_text()
            text2 = text.split()
            
            #keep track of wins and losses for overall
            wins = int(text2[0]) + wins
            losses = int(text2[2]) + losses
            
            #print 'wins'-'losses' for each matchup...then add this to the list
            text3 = text2[0] + '-' +text2[2]
            records.append(text3)
            
        #if team_a is same as team_b then print a blank (you don't play yourself)    
        if team_a == team_b:
            records.append('')
            
        #when len is 11, ready to print the overall record
        if len(records)==11:
            records.append(str(wins)+'-'+str(losses))
            
        #when len is 12, ready to print the overall winning pct    
        if len(records)==12:
            records.append(str(round(wins/(wins+losses),3)))
            
        #not append the row to the total df, count indicates which row    
        if len(records)==13:
            total.loc[count] = records

In [4]:
# The output! Let's Go Mountaineers!!
total

,team,baylor,iowa-state,kansas,kansas-state,oklahoma,oklahoma-state,texas-christian,texas,texas-tech,west-virginia,total,pct
0,baylor,,11-7,3-15,8-9,9-8,12-5,13-4,12-6,11-5,10-8,89-67,0.571
1,iowa-state,7-11,,7-13,11-7,12-7,13-5,11-6,9-9,9-7,8-9,87-74,0.54
2,kansas,15-3,13-7,,16-3,12-4,12-6,16-2,15-2,15-2,14-5,128-34,0.79
3,kansas-state,9-8,7-11,3-16,,11-5,11-7,14-6,9-8,8-8,7-10,79-79,0.5
4,oklahoma,8-9,7-12,4-12,5-11,,12-6,14-3,9-7,9-7,11-8,79-75,0.513
5,oklahoma-state,5-12,5-13,6-12,7-11,6-12,,10-7,9-7,9-8,8-8,65-90,0.419
6,texas-christian,4-13,6-11,2-16,6-14,3-14,7-10,,6-12,5-12,3-14,42-116,0.266
7,texas,6-12,9-9,2-15,8-9,7-9,7-9,12-6,,11-8,10-8,72-85,0.459
8,texas-tech,5-11,7-9,2-15,8-8,7-9,8-9,12-5,8-11,,6-13,63-90,0.412
9,west-virginia,8-10,9-8,5-14,10-7,8-11,8-8,14-3,8-10,13-6,,83-77,0.519

In [5]:
#Copied this into Google Sheets...cleaned up some formatting and added offical team colors